@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

.poppins {
    font-family: "Poppins", serif;
  }
.roboto-slab {
    font-family: "Roboto Slab", serif;
}
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}